<h2>About Me</h2>
<p>I am currently a first year PhD student in the Harvard-MIT Health Sciences & Technology Medical Engineering and Medical Physics Program.
Previously, I graduated summa cum laude from Duke University majoring in biomedical engineering.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://www.twitter.com/vincentnmiao">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://in.linkedin.com/in/vnmiao" target="_blank">Linkedin</a>
  </li>
</ul>
