<br>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://www.twitter.com/vincentnmiao" target="_blank">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="http://in.linkedin.com/in/vnmiao" target="_blank">Linkedin</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-google fa-lg main-list-item-icon"></span>
    <a href="https://scholar.google.com/citations?user=KEWPtdwAAAAJ&hl=en" target="_blank">Google Scholar</a>
  </li>
</ul>
