<div class="wrapper projects-wrapper">
<h2>About Me</h2>
<p align="justify">I am a first year PhD student in the Medical Engineering and Medical Physics program at the Harvard-MIT Program in Health 
  Sciences & Technology working in the <a href="https://shaleklab.com">Shalek Lab</a>. Previously, I graduated summa cum laude and 
  with departmental distinction in biomedical engineering from Duke University. There, I conducted my undergraduate research under
  John Reif and Ashutosh Chilkoti.
</p align="justify">

<p align="justify">My research interests lie at the intersection of biomolecular technology development and global health
  - designing single-cell profiling techniques for probing the ensemble behavior of cells in the context of infectious disease.</p align="justify">
  
<p align="justify">Outside of the lab, I enjoy sailing, scuba diving, hiking, and cheering on Duke Basketball.</p align="justify">
  
<hr />  
  
<h2>Publications</h2>
<ol align="justify">
  <li>Roberts, S., Harmon, T., Schaal, J., <b>Miao, V.</b>, Li, K., Hunt, A., Wen, Y., Oas, T., Collier, J., Pappu, R., Chilkoti, A. 
    (2018). <a href="https://www.nature.com/articles/s41563-018-0182-6">Injectable tissue networks from recombinant polypeptides with tuneable order</a>. <i>Nature Materials, 17</i>(12).</li>
  <li>Bui, H., <b>Miao, V.</b>, Garg, S., Mokhtar, R., Song, T., Reif, J. (2017). <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/smll.201602983">Design and analysis of localized DNA 
    hybridization chain reactions</a>. <i>small, 13</i>(12).</li>
  <li>Bui, H., Garg, S., <b>Miao, V.</b>, Song, T., Mokhtar, R., Reif, J. (2017). <a href="https://iopscience.iop.org/article/10.1088/1367-2630/aa53d0">Design and analysis of linear cascade DNA 
    hybridization chain reactions using DNA hairpins</a>. <i>New Journal of Physics, 19</i>(1).</li>
</ol align="justify">
</div>
