<div class="wrapper projects-wrapper">
<h2>Publications</h2>
<ol>
  <li>Roberts, S., Schaal, J., Harmon, T., Miao, V., Li, K., Hunt, A., Wen, Y., Oas, T., Collier, J., Pappu, R., Chilkoti, A. 
    (2018). Injectable tissue networks from recombinant polypeptides with tuneable order. <i>Nature Materials</i>, Accepted.</li>
  <li>Bui, H., Miao, V., Garg, S., Mokhtar, R., Song, T., Reif, J. (2017). Design and analysis of localized DNA 
    hybridization chain reactions. <i>small, 13</i>(12).</li>
  <li>Bui, H., Garg, S., Miao, V., Song, T., Mokhtar, R., Reif, J. (2017). Design and analysis of linear cascade DNA 
    hybridization chain reactions using DNA hairpins. <i>New Journal of Physics, 19</i>(1).</li>
</ol>
</div>
