<div class="wrapper projects-wrapper">
<h2>About Me</h2>
<p align="justify">I am a PhD student in the Medical Engineering and Medical Physics program at the Harvard-MIT Program in Health 
  Sciences & Technology and a member of the <a href="https://shaleklab.com" target="_blank">Shalek Lab</a> at MIT, the Ragon Institute, and the Broad Institute. 
  Previously, I graduated summa cum laude from Duke University in 2018. There, I conducted my undergraduate research under
  John Reif and Ashutosh Chilkoti.
</p align="justify">

<p align="justify">My research interests lie at the intersection of biomolecular technology development and global health
  - engineering single-cell profiling techniques to probe the ensemble behavior of biological systems in the context of infectious disease. 
  My current projects span HIV-1, malaria, and SARS-CoV-2 infection.</p align="justify">
  
<p align="justify">Outside of the lab, I enjoy sailing, scuba diving, hiking, and cheering on Duke Basketball.</p align="justify">
  
<hr />  
  
<h2>Publications</h2>
<ol align="justify">
  <li>Ziegler, C.G.K.*, Allon, S.J.*, Nyquist, S.K.*, Mbano, I.M.*, <b>Miao, V.N.,</b> Tzouanas, C.N., Cao, Y., 
    Yousif, A.S., Bals, J., Hauser, B.M., ..., Fortune, S.M., Berger, B., Finberg, R.W., Kean, L.S., Garber, M., Schmidt, 
    A.G., Lingwood, D., Shalek, A.K.<sup>#</sup>, Ordovas-Montanes, J.<sup>#</sup>, HCA Lung Biological 
    Network (2020). <a href="https://www.cell.com/pb-assets/products/coronavirus/CELL_CELL-D-20-00767.pdf" target="_blank">SARS-CoV-2 receptor ACE2 is an interferon-stimulated gene in human airway epithelial cells and is detected 
    in specific cell subsets across tissues</a>. <i>Cell.</i>
  <li>Kazer, S.W., Aicher, T.P., Muema, D.M., Carroll, S.L., Ordovas-Montanes, J., <b>Miao, V.N.,</b> Tu A.A., Ziegler, C.G.K., 
    Nyquist, S.K., Wong, E.B., Ismail, N., Dong, M., Moodley, A., Berger, B., Love, J.C., Dong, K.L., Leslie, A., Ndhlovu, 
    Z.M., Ndung'u, T., Walker, B.D.<sup>#</sup>, Shalek, A.K.<sup>#</sup> (2020). <a href="https://www.nature.com/articles/s41591-020-0799-2" target="_blank">Integrated single-cell analysis of 
    multicellular immune dynamics during hyper-acute HIV-1 infection</a>. <i>Nature Medicine, 26.</i>
  <li>Roberts, S., <b>Miao, V.,</b> Costa, S., Simon, J., Kelly, G., Shah, T., Zauscher, S., Chilkoti, A. (2020). 
    <a href="https://www.nature.com/articles/s41467-020-15128-9" target="_blank">Complex microparticle architectures from stimuli-responsive intrinsically disordered proteins</a>. <i>Nature Communications, 11</i>(1342).</li>
  <li>Roberts, S., Harmon, T., Schaal, J., <b>Miao, V.,</b> Li, K., Hunt, A., Wen, Y., Oas, T., Collier, J., Pappu, R., Chilkoti, A. 
    (2018). <a href="https://www.nature.com/articles/s41563-018-0182-6" target="_blank">Injectable tissue networks from recombinant polypeptides with tuneable order</a>. <i>Nature Materials, 17</i>(12).</li>
  <li>Bui, H., <b>Miao, V.,</b> Garg, S., Mokhtar, R., Song, T., Reif, J. (2017). <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/smll.201602983" target="_blank">Design and analysis of localized DNA 
    hybridization chain reactions</a>. <i>small, 13</i>(12).</li>
  <li>Bui, H., Garg, S., <b>Miao, V.,</b> Song, T., Mokhtar, R., Reif, J. (2017). <a href="https://iopscience.iop.org/article/10.1088/1367-2630/aa53d0" target="_blank">Design and analysis of linear cascade DNA 
    hybridization chain reactions using DNA hairpins</a>. <i>New Journal of Physics, 19</i>(1).</li>
</ol align="justify">
</div>
